<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Yiğit Çakmakcı</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProjectForGithubAndBlogSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Navbar.css"/>
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <nav>
        <a asp-controller="Home" asp-action="Index" class="NavbarText" style="align-items">Home</a>
        <a asp-controller="Blog" asp-action="Index" class="NavbarText" style="align-items">Blog</a>
        <a asp-controller="Portofolio" asp-action="Index" class="NavbarText" style="align-items">Portfolio</a>
        <a asp-controller="Contact" asp-action="Index" class="NavbarText" style="align-items">Contact</a>
    </nav>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 Yiğit Çakmakcı</p>
    </footer>
</body>
</html>