<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Yiğit Çakmakcı</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProjectForGithubAndBlogSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #1d1f21;
            color: #f1f1f1;
        }

        header {
            background-color: #333;
            padding: 10px 0;
            text-align: center;
            font-size: 24px;
        }

        nav {
            text-align: center;
            padding: 10px;
        }

            nav a {
                margin: 0 15px;
                color: #f1f1f1;
                text-decoration: none;
            }

                nav a:hover {
                    border-bottom: 2px solid #f1f1f1;
                }

        main {
            padding: 20px;
            text-align: center;
        }

        footer {
            background-color: #333;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <nav>
        <a asp-controller="Home" asp-action="Index" style="align-items">Home</a>
        <a asp-controller="Portofolio" asp-action="Index" style="align-items">Portfolio</a>
        <a asp-controller="Contact" asp-action="Index" style="align-items">Contact</a>
    </nav>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 Yiğit Çakmakcı</p>
    </footer>
</body>
</html>