@{
    ViewData["Title"] = "Portofolio";
}

    <head>
        <link href="~/css/GeneralPageLayout.css" rel="stylesheet" />
        <link href="~/css/Block.css" rel="stylesheet" />
    </head>

<body>

    <div class="veryOutside">
        <div class="grid-container1x">
    <div class="PortofolioOutside grid-container2x GlowEffect">
    
            <div class="grid-item">
                <div>
                <h2>Geliştirilen projeler</h2>
                <div>
                    <p>hermes projesi(Logo Yazılım)</p>
                    <p>Kişisel blog sitesi</p>
                </div>
                </div>
            </div>
    
            <div class="grid-item" >
    
        <div class="grid-item">
            <div>
                <h2>Projelerim</h2>
                <div>
                    <p>PROJE 1 <br /> Kişisel Blog Sitesi (Bu site) = "ASP.NET CORE(MVC) / HTML / C# / CSS / JAVASCRIPT / GITHUB"</p>
                    <p>PROJE 2 <br /> Oyun geliştirme="Müzik(Amatör) / Kod optimizasyonu(Başlangıç) / Unity(C# / Amatör Ve Yardımcı) / Pixel Art(Yardımcı)"</p>
                </div>
            </div>
        </div>              
    
        </div>
    </div>
    
    <div class="PortofolioOutside grid-container2x">
        <div class="grid-item">
            <div>
            <h2>İş Deneyimlerim</h2>
            <div>
                <table border="1" class="ExperienceTable">
                    <tr>
                        <td class="customBorder">
                            <p>Firma</p>
                        </td>
                        <td class="customBorder">
                            <p>Konum</p>
                        </td>
                        <td class="customBorder">
                            <p>Çalışma süresi</p>
                        </td>
                        <td class="customBorder">
                            <p>Geliştirilen özellikler</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customBorder">
                            <p>Logo Yazılım</p>
                        </td>
                        <td class="customBorder">
                            <p>Stajyer</p>
                        </td>
                        <td class="customBorder">
                            <p>9 Ay</p>
                        </td>
                        <td class="customBorder">
                            <p>ASP.NET CORE MVC / HTML, CSS, JAVASCRIPT, SQL, MONGODB, RABBITMQ, RESTAPI, BITBUCKET, GITHUB, MSSQL, C# </p>
                        </td>
                    </tr>
        
                    <tr>
                        <td class="customBorder">
                            <p>Oyaş</p>
                        </td>
                        <td class="customBorder">
                            <p>İmalat</p>
                        </td>
                        <td class="customBorder">
                            <p>24.09.2024 - Devam</p>
                        </td>
                        <td class="customBorder">
                            <p>Amelelik / Zanaat / Makine kullanımı(Değeri var mı bilmem) </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
     </div>
         <!-- 2. Sıra -->
        <div class="grid-item">
            <div>
                <h2>Kişisel Deneyimlerim</h2>
                <div>
                    <table border="1" class="ExperienceTable">
                        <tr>
                            <td class="customBorder">
                                <p>Firma</p>
                            </td>
                            <td class="customBorder">
                                <p>Konum</p>
                            </td>
                            <td class="customBorder">
                                <p>Çalışma süresi</p>
                            </td>
                            <td class="customBorder">
                                <p>Geliştirilen özellikler</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="customBorder">
                                <p>Oyaş</p>
                            </td>
                            <td class="customBorder">
                                <p>İmalat</p>
                            </td>
                            <td class="customBorder">
                                <p>24.09.2024 - Devam</p>
                            </td>
                            <td class="customBorder">
                                <p>Amelelik / Zanaat / Makine kullanımı(Değeri var mı bilmem) </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>

</body>