@{
    ViewData["Title"] = "Portofolio";
}

    <head>
        <link href="~/css/Block.css" rel="stylesheet" />
    </head>

    <div class="outside grid-container4x">

        <div class="grid-item">
            <div>
            <h2>Geliştirilen projeler</h2>
            <div>
                <p>hermes projesi(Logo Yazılım)</p>
                <p>Kişisel blog sitesi</p>
            </div>
            </div>
        </div>

        <div class="grid-item" >
        <div>
            <h2>İş Deneyimlerim</h2>
            <div>
                <table border="1" class="ExperienceTable">
                    <tr>
                       <td class="customBorder">
                           <p>Firma</p>
                       </td>
                        <td class="customBorder">
                           <p>Konum</p>
                       </td>
                        <td class="customBorder">
                           <p>Çalışma süresi</p>
                       </td>
                        <td class="customBorder">
                           <p>Geliştirilen özellikler</p>
                       </td>
                     </tr>
                    <tr>
                        <td class="customBorder">
                            <p>Logo Yazılım</p>
                        </td>
                        <td class="customBorder">
                            <p>Stajyer</p>
                        </td>
                        <td class="customBorder">
                            <p>9 Ay</p>
                        </td>
                        <td class="customBorder">
                            <p>ASP.NET CORE MVC / HTML, CSS, JAVASCRIPT, SQL, MONGODB, RABBITMQ, RESTAPI, BITBUCKET, GITHUB, MSSQL, C# </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

    <div class="grid-item">
        <div>
            <h2>Kişisel Deneyimlerim</h2>
            <div>
                <table border="1" class="ExperienceTable">
                    <tr>
                        <td class="customBorder">
                            <p>Firma</p>
                        </td>
                        <td class="customBorder">
                            <p>Konum</p>
                        </td>
                        <td class="customBorder">
                            <p>Çalışma süresi</p>
                        </td>
                        <td class="customBorder">
                            <p>Geliştirilen özellikler</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customBorder">
                            <p>Logo Yazılım</p>
                        </td>
                        <td class="customBorder">
                            <p>Stajyer</p>
                        </td>
                        <td class="customBorder">
                            <p>9 Ay</p>
                        </td>
                        <td class="customBorder">
                            <p>ASP.NET CORE MVC / HTML, CSS, JAVASCRIPT, SQL, MONGODB, RABBITMQ, RESTAPI, BITBUCKET, GITHUB, MSSQL, C# </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div>
            <h2>Projelerim</h2>
            <div>
                <p>Proje 1: Kişisel Blog</p>
                <p>Proje 2: E-Ticaret Sitesi</p>
            </div>
        </div>
    </div>

    </div>
