@{
    ViewData["Title"] = "Home";
}

<head>
    <link href="~/css/Block.css" rel="stylesheet" />
</head>

<div class="outside grid-container2x">

  <div class="grid-item">
    <div>
       <h2>Merhaba! Ben Yiğit</h2>
       <p>Kendimi anlatabileceğim kişisel siteme hoş geldiniz.</p>
    </div>
  </div>

  <div class="grid-item">
    <div class="circle">
        <!-- <img src="#" alt="Alternate Text" /> Buraya resim eklenecek-->
    </div>
  </div>

</div>
