@{
    ViewData["Title"] = "Home";
}

<head>
    <link href="~/css/GeneralPageLayout.css" rel="stylesheet" />
    <link href="~/css/Block.css" rel="stylesheet" />
</head>

<div class="veryOutside">

    <div class="outside grid-container2x">
    
      <div class="grid-item">
        <div>
           <h2>Merhaba! Ben Yiğit</h2>
           <p>Kendimi anlatabileceğim kişisel siteme hoş geldiniz.</p>
        </div>
      </div>
    
      <div class="grid-item">
            <div class="circle BackgroundİmageStyles" style="background-image: url('/images/ProfilePhotoV1.jpg');"></div>
      </div>
    
    </div>
    
    <div class="outside grid-container2x">
    
        <div class="grid-item">
            <div>
                <h2>Merhaba! Ben Yiğit</h2>
                <p>Kendimi anlatabileceğim kişisel siteme hoş geldiniz.</p>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="circle BackgroundİmageStyles" style="background-image: url('/images/ProfilePhotoV1.jpg');"></div>
        </div>
    
    </div>

    <div class="outside grid-container2x">

        <div class="grid-item">
            <div>
                <h2>Merhaba! Ben Yiğit</h2>
                <p>Kendimi anlatabileceğim kişisel siteme hoş geldiniz.</p>
            </div>
        </div>

        <div class="grid-item">
            <div class="circle BackgroundİmageStyles" style="background-image: url('/images/ProfilePhotoV1.jpg');"></div>
        </div>

    </div>

    <div class="outside grid-container2x">

        <div class="grid-item">
            <div>
                <h2>Merhaba! Ben Yiğit</h2>
                <p>Kendimi anlatabileceğim kişisel siteme hoş geldiniz.</p>
            </div>
        </div>

        <div class="grid-item">
            <div class="circle BackgroundİmageStyles" style="background-image: url('/images/ProfilePhotoV1.jpg');"></div>
        </div>

    </div>

    <div class="outside grid-container2x">

        <div class="grid-item">
            <div>
                <h2>Merhaba! Ben Yiğit</h2>
                <p>Kendimi anlatabileceğim kişisel siteme hoş geldiniz.</p>
            </div>
        </div>

        <div class="grid-item">
            <div class="circle BackgroundİmageStyles" style="background-image: url('/images/ProfilePhotoV1.jpg');"></div>
        </div>

    </div>

</div>
