

.BlogOutside {
    width:90%;

}

.grid-itemBlogBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2%;
}

.InBlogBox {
    min-height: 300px;
    max-height: 600px;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.InBlogBox:hover {
   border:solid;
   border-color:black;
   border-width:5px;
}

.BlogBoxImage{
    height:100%;
    align-content:center;
    border-radius:10px;
}

.BlogBoxImageOut {
    max-height:500px;
}


.BlogBoxTitle {
    font-size:40px;
    font-weight:500;

}

.BlogBoxDesc {

}
