ColorTemplate1 {
    background-color: rgb(242, 203, 5)
}
ColorTemplate2 {
    background-color: rgb(242, 203, 5)
}
ColorTemplate3 {
    background-color: rgb(242, 203, 5)
}
ColorTemplate4 {
    background-color: rgb(242, 203, 5)
}
ColorTemplate5 {
    background-color: rgb(242, 203, 5)
}
