body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #590319;
    color: #f1f1f1;
}

header {
    background-color: rgb(225, 195, 143, 0.6);
    ;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    color: #f1f1f1;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid #f1f1f1;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: rgb(128, 128, 128, 0.6);
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

