@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Blog";
}

<head>
    <link href="~/css/GeneralPageLayout.css" rel="stylesheet" />
    <link href="~/css/Block.css" rel="stylesheet" />
    <link href="~/css/Footer.css" rel="stylesheet" />
    <link href="~/css/BlogContent.css" rel="stylesheet" />
</head>
<body>
    <div class="veryOutside">
        <div class="BlogOutside grid-container3x">

            @for (int i = 0; i < Model.Count; i++) {
 
                   <div class="grid-itemBlogBox">
                       <div class="InBlogBox GlowEffect">
                          <a asp-controller="Blog" asp-action="Contain" asp-route-Id="@Model[i].Id">
                             <div class="BlogBoxImage"><img src="@Model[i].Image" alt="Not Found Image" style="max-height:100%; max-width:auto; border-radius:10px;" /></div>
                             <div class="BlogBoxTitle">@Model[i].Title</div>
                             <div class="BlogBoxDesc">@Model[i].Description</div>
                          </a>
                       </div>
                   </div>
               
            }

        </div>
    </div>
</body>